@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.main{
    position: relative;
 
    height: 91.5vh;
    left: 295px;
    width: calc(100% - 295px);
    transition: all 0.2s ease;
    
    background-color: #131312;
    font-family: "poppins", sans-serif;
    display: flex;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .sidebar.close ~ .main{
    left: 78px;
    width: calc(100% - 78px);
  }
 .main .menuside, .songside{
    position: relative;
    width: 25%;
    height: 90%;
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    /* border: 1px solid #fff; */
    color: #fff;
}
.main .songside{
    width: 75%;
    background: #0b1320;
}
.main .masterplay{
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}
 .menuside h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}
.main .menuside .playlist{
    margin: 40px 0px 0px 20px;
}
.menuside .playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    transition: .3s linear;
    align-items: center;
    cursor: pointer;
    display: flex;
    transition: .3s linear;
}
.menuside .playlist h4:hover{
   color: #fff;
}
.menuside .playlist h4 span{
    position: relative;
    margin-right: 35px;
}
.menuside .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
.menuside .playlist h4:hover span::before{
   border: 2px solid #fff;
}
.menuside .playlist h4 .bx{
    display: none;
}
.menuside .playlist .active{
    color: #36e2ec;
}
.menuside .playlist .active span{
    display: none;
}
.menuside .playlist .active .bx{
    display: flex;
    margin-right: 20px;
}
.menuside .menusong{
    width: 100%;
    height: 357px;
    /* border: 1px solid #fff; */
    margin-top: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.menuside .menusong::-webkit-scrollbar{
    display: none;
}
.menuside .menusong li{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
.menuside .menusong li:hover{
    background: rgb(105, 105, 170,.1);
}
.menuside .menusong li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
.menuside .menusong li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
.menuside .menusong li h5{
    font-size: 11px;
    margin-left: 15px;
}
.menuside .menusong li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
}
.menuside .menusong li .bx{
   position: absolute;
   right: 15px;
   top: 10px;
   font-size: 16px;
}
.masterplay{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.masterplay .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}
.masterplay .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px ;
    border-radius: 10px 10px 0px 0px;
    background: #36e2ec;
    animation: unset;
}
.masterplay .wave .wave1:nth-child(2){
    height: 13px; 
    /* animation-delay: .4s;  */
}
.masterplay .wave .wave1:nth-child(3){
    height: 8px;  
    /* animation-delay: .8s;  */
}
/*javascript class wave*/
.masterplay .active2 .wave1{
    animation: wave .5s linear infinite;
}
.masterplay .active2 .wave1:nth-child(2){
    animation-delay: .4s; 
}
.masterplay .active2 .wave1:nth-child(3){ 
    animation-delay: .8s; 
}

@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

.masterplay img{
    width: 35px;
    height: 35px;
}
.masterplay h5{
    width: 135px;
    font-size: 13px;
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
}
.masterplay h5 .subtitle{
    font-size: 11px;
    color: #4c5262;
}
.masterplay .icon{
    font-size: 25px;
    color: #fff;
    margin: 0px 20px 0px 40px;
}
.masterplay .icon .bx{
   cursor: pointer;
   outline: none;
}
.masterplay .icon .bx:nth-child(2){
   border: 1px solid rgb(105, 105, 170,.1);
   border-radius: 50%;
   padding: 1px 3px 0px 6px;
   margin: 0px 5px;
   transition: .3s linear;
 }
 .masterplay span{
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
 }
 .masterplay #currentstart{
   margin: 0px 0px 0px 20px;
 }
 .masterplay .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170,.1);
    margin: 0px 15px 0px 10px;
 }
 .masterplay .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
 }
 .masterplay .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
.masterplay .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}
.masterplay .bar input{
    z-index: 9999999999;
    position: absolute;
    width: 100%;
    transition: 3s linear;
    opacity: 0;
   
    left: 0;
    top: -6px;

    cursor: pointer;
}
.masterplay .vol{
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: rgb(105, 105, 170,.1);
}
.masterplay .vol .bx{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -10px;
    left: -30px;
  
}
.masterplay .vol input{
    z-index: 9999999999;
    position: absolute;
    width: 100%;
    transition: 3s linear;
    opacity: 0;
    left: 0;
    top: -10px;
    cursor: pointer;
   
}
.masterplay .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    
 }
 .masterplay .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
.masterplay .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.songside{
    z-index: 2;
}
.songside::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
    left: 50%;
    
    padding: 0px 0px 600px 0px;
   
}
.songside nav{
    width: 90%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.songside nav ul{
    display: flex;
}
.songside nav ul li{
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}
.songside nav ul li:hover{
  color: #fff;
}
.songside nav ul li:nth-child(1){
    color: #fff;
}
.songside nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}
.songside nav .search{
    position: relative;
    width: 40%;
    padding: 1px 10px ;
    border-radius: 20px;
    color: grey;
}
.songside nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(184, 184, 184,.1);
    backdrop-filter: blur(5px);
    z-index: -1;
}
.songside nav .search .bx{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}
.songside nav .search input{
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}
.songside nav .user{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.songside nav .user img{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
}
.songside .content{
    width: 90%;
    height: 30%;
    margin: auto;
    /* border: 1px solid #fff; */
    padding-top: 20px;
}
.songside .content h1{
    font-size: 25px;
    font-weight: 600;
}
.songside .content p{
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
}
.songside .content .buttons{
    margin-top: 15px;
}
.songside .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}
.songside .content .buttons button:hover{
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
}
.songside .content .buttons button:nth-child(2){
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
}
.songside .content .buttons button:nth-child(2):hover{
    border: 2px solid #36e2ec;
    background: #36e2ec;
    color: #fff;
}
.songside .popular_song{
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 15px;
}
.songside .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.songside .popular_song .h4 .bx{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}
.songside .popular_song .h4 .bx:hover{
    color: #fff;
    
}
.songside .popular_song .pop_song{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.songside .popular_song .pop_song::-webkit-scrollbar{
    display: none;
}
.songside .popular_song .pop_song li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}
.songside .popular_song .pop_song li:hover{
   background: rgb(105, 105, 170,.1);
}
.songside .popular_song .pop_song li .imgplay{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.songside .popular_song .pop_song li .imgplay img{
    width: 100%;
    height: 100%;
}
.songside .popular_song .pop_song li .imgplay .bx{
   position: absolute;
   font-size: 20px;
   cursor: pointer;
   transition: .3s linear;
   opacity: 0;
}
.songside .popular_song .pop_song li .imgplay:hover .bx{
    opacity: 1;
 }
 .songside .popular_song .pop_song li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
 }
 .songside .popular_song .pop_song li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
 }
 .songside .popular_artist{
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 15px;
    
}
.songside .popular_artist .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.songside .popular_artist .h4 .bx{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}
.songside .popular_artist .h4 .bx:hover{
    color: #fff;
    
}
.songside .popular_artist .item{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.songside .popular_artist .item::-webkit-scrollbar{
    display: none;
}
.songside .popular_artist .item li{
    list-style-type: none;
    position: relative;
    min-width: 60px;
    height: 60px;
    /* background-color: #fff; */
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}
.songside .popular_artist .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}